[submodule "calio"]
	path = calio
	url = git@github.com:MerchantPug/calio.git
	branch = 1.19.x/forge
[submodule "apoli"]
	path = apoli
	url = git@github.com:MerchantPug/apoli.git
	branch = 1.19.x/forge
[submodule "origins"]
	path = origins
	url = git@github.com:MerchantPug/origins-fabric.git
	branch = 1.19.x/forge
